<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
	<appSettings file="HiddenSettings.config">
		<add key="WorkerLimit" value="10" />
		<add key="Microsoft.ServiceBus.Namespace" value="commonground-scrape-minus3" />
		<add key="Microsoft.ServiceBus.SharedAccessKey" value="This-Value-Should-Be-In-Your-HiddenSettings.config" />
	</appSettings>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>